{%load static%}
<!DOCTYPE html>
<html>
<head>
<title>trek monitoring system</title>

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<header>
<h1>
Trek monitoring system
</h1>
<!-- <img src="{% static 'images/home/image1.jpg' %}"> -->
</header>
<body>

<nav>
<a href="{{link1}}">Home</a>
<a href="{{link2}}">Treks</a>
<a href="{{link3}}">Guide</a>
<a href="{{link4}}">Current records</a>
<a href="{{link5}}">Contact us</a>
</nav>

<h2 style="text-align: center;"> Search for Your Trekkers </h2>
<div class="google" style="text-align: center;"> 
<a href="http://192.168.43.28">
     <img src="{% static 'images/trek/map.jpeg' %}" height="100opx" width="100px"> 
    </a>
</div>

<h2 style="text-align: center;">
    
    Temperature and Pulse of the Trekkers
</h2>
<div class="trek1">
<div class="box">

    <table>
        <tr>
            <th> Time of Last measured</th>
            <th> Pulse of trekkers </th>
            <th> Temperature of trekkers</th>
        </tr>
        {%for sensor_tempreture3 in sensor_tempreture2%}
        <tr>
            <td> {{sensor_tempreture3.created_at}}</td>
            <td>{{sensor_tempreture3.field1}}</td>
            <td>{{sensor_tempreture3.field2}}</td>
        </tr>
        {%endfor%}
    </table>
    
</div>
</div>



<footer>
<p>Copyright &copy;2018 Akash Sunar</p>
</footer>



</body>
</html>