header{
background-color: green;
padding: 70px;
text-align: center;
color: white;
font-family:"Comic Sans Ms", arial;
}
header img{
float: left;
padding-left:0px;
padding-top: 10px;
margin:0;}
.row{
font-size: 27px;
/*font-style: italic;*/
/* font-weight: bold;*/
}
body{
margin:0;
background-color: #f1f1f1;}
nav{
overflow: hidden;
background-color: #333;
padding: 12px;
}
nav a{
float:left;
color:#fff;
padding:14px 16px;
font-size: 25px;
text-decoration-style: none;
list-style: none;
text-decoration:none;
}
nav a:hover{
background-color: black;
color: aqua;
}
footer{
clear:both;
background-color:green;
padding: 20px;
color: white;
padding-bottom: 20px;
}
footer p{
text-align: center;
font-size: 24px;
}
div.gallery{
margin: 20px 30px;
border: 5px solid black;
float:left;
width:180;
}
div.gallery:hover{
border: 5px solid red;
}
@media screen and (max-width: 894px){
.column.side,.column.middle{
width: 100%;
}
}
section{
height: 65vh;
}
section p{
text-align: justify;
}
.trek{
height: 60vh;
}
.det1{
margin:31px 364px;
width:585px;
padding: 2px 1px;
height: 49vh;
font-size: 23px;
text-align: justify;
}
.guide1{
float: left;
margin: 20px;
padding: 8px 8px;
}
.det2{
margin:31px 364px;
width:585px;
padding: 2px 1px;
font-size: 23px;
height: 49vh;
text-align: justify;
}
.guide2{
float: left;
margin: 20px;
padding: 8px 8px;}
.mhead{
margin:-2px auto;
width:900px;
/*padding: 2px 50px;
*/ padding-left: 300px;
height: 49vh;
font-size: 20px;
text-align: justify;
}
.guide3{
float: left;
margin: 20px;
padding: 8px 8px;
}
.det3{
margin:31px 364px;
width:585px;
padding: 2px 1px;
font-size: 23px;
height: 49vh;
text-align: justify;
}
.mardi{
font-size: 20px;
text-align: justify;
padding-top: 20px;
padding-left: 20px;
padding-right: 20px;
}.mimage{
margin:10px;
float:left;
width: 300px;
height: 260px;}
.thead{
margin:-2px auto;
width:900px;
/*padding: 2px 50px;
*/ padding-left: 300px;
height: 49vh;
font-size: 20px;
text-align: justify;
}
.timage{
margin:10px;
float:left;
width: 300px;
height: 260px;}
.tilicho{
font-size: 20px;
text-align: justify;
padding-top: 20px;
padding-left: 20px;
padding-right: 20px;
}
.lhead{
margin:-2px auto;
width:900px;
/*padding: 2px 50px;
*/ padding-left: 300px;
height: 49vh;
font-size: 20px;
text-align: justify;
}
.limage{
margin:10px;
float:left;
width: 300px;
height: 260px;}
.lamtang{
font-size: 20px;
text-align: justify;
padding-top: 20px;
padding-left: 20px;
padding-right: 20px;
}
input[type=text],select,textarea{
width: 100%;
padding: 12px;
border: 1px solid #ccc;
margin-top: 6px;
margin-bottom: 16px;
resize: vertical;}
input[type=submit]{
background-color: red;
color: white;
padding: 12px 20px;
cursor: pointer;
border: none;
margin:2px;}
.contact{
text-align: center;
font-size: 20px;
}
.details{
padding-left: 20px;
padding-right: 100px;
}/*table, th, td {
border: 1px solid;
}
*/
.tab1 {
padding-left:20px;
padding-top: -5px;
width: 70%;
}
.tab2{
border-collapse: collapse;
padding-left: 20px;
width: 70%;
}
.current1 h3{
text-align: center;
color: blue;
}
.tab3 table, th, td {
border: 1px solid black;
width:50%; }
.tab3{
padding-left: 30vw;
 }
 table{
     width: 70%;
     
 }
.box{
    padding-left: 25vw;
}
/*.clsdet{
text-align: center;
padding-left: 400px;
width: 50%;
}*/
.team{
padding-top: 20px;
text-align: center;
}
.clsdet{
text-align: justify-all;
font-size: 25px;
text-align: center;
padding-left: 150px;
padding-right: 150px; }
.row{
padding-left: 50px;
padding-right: 50px;
}
/* .clsdet{
font-size: 20px;
text-align: center;
}*/
.desc{
text-align: center;
}
/*.header,.himage{
padding-left: 0px;
}*/
th, td {
    border: 1px solid black;
    border-radius: 5px;
    padding:20px;
    width: 100%;
  }
  /* .social{
      padding-left: 40px;
      margin: 20px;;
      word-spacing:35px;
  } */