{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>trek monitoring system</title> 
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<header>
<h1>
Trek monitoring system
</h1>
</header><body>
<nav>
    <a href="{{link1}}">Home</a>
    <a href="{{link2}}">Treks</a>
    <a href="{{link3}}">guide</a>
    <a href="{{link4}}">Current records</a>
    <a href="{{link5}}">Contactus</a>
</nav>
<div class="team">
<img src="{% static 'images/About us/Team.jpg' %}" width="450x" height="450px">
</div>
<div class="clsdet">
<p>
Trekker's health condition is an important factor to be monitored for efficient and worthy trekking.Our system checks pulse and body temperature and provide weather related data to guide and associated trekking company.<br>To ensure the fluent completion of the trek we have combinely developed a site whose features are:<br> <p>It will monitor the health condition of the trekkers.</p>
<p>It will find,track and navigate the location of the trekkers.</p>
<p>It will predict the weather conditions of the area and send data to main office.</p> This website is collaborative team effort intended to provide proper guidance for trekkers to their destination. This team includes four members who are well motivated and determined to provide any necessary information if required. Feel free to contact us.We'd love to hear from you!!!</p>
</div> <div class="contact">
<h2>GET IN TOUCH</h2>
<p><h3>For more information you can contact as follow ::</h3></p> <h4>Email: poudelnawaraj9@gmail.com</h4>
<h4>Address: Pokhara,Lamachaure-16</h4>
<h4>Phone number : 9867767616 </h4>
<h4> Fax no :061-4563</h4>
</div>
<footer>
<p>Copyright &copy;2022 Team-8848</p>
</footer></body>
</html>

