{%load static%}
<!DOCTYPE html>
<html>
<head>
<title>current records</title>



<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<header>
<h1>
Trek monitoring system
</h1>
</header>



<body>

<nav>
    <a href="{{link1}}">Home</a>
    <a href="{{link2}}">Treks</a>
    <a href="{{link3}}">Guide</a>
    <a href="{{link4}}">Current records</a>
    <a href="{{link5}}">Contact us</a>
</nav>
<div class="trekker">
<a href="{{link6}}" target="blank"><P>Trekker 1</P>

</a>

</div>
<div class="trek">
<div class="trekker">

<a href="{{link6}}" target="blank"><P>Trekker 2</P>

</a>

</div>
<div class="trekker">

<a href="{{link6}}" target="blank"><P>Trekker 3</P>

</a>

</div>
<div class="trekker">

<a href="link6" target="blank"><P>Trekker 4</P>

</a>

</div>
</div>






<footer>
<p>Copyright &copy;2022 Team-8848</p>
</footer>



</body>
</html>