{% load static%}
<!DOCTYPE html>
<html>
<head>
<title>Guide</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<header>
<h1>
Trek monitoring system
</h1>
</header>
</body>



<nav>
    <a href="{{link1}}">Home</a>
    <a href="{{link2}}">Treks</a>
    <a href="{{link3}}">Guide</a>
    <a href="{{link4}}">Current records</a>
    <a href="{{link5}}">Contact us</a>
</nav>



<div class="guide1">
<img src="{% static 'images/guide/guide1.jpg' %}" width="300px" height="300px">
<div class="desc"><b>Akash Sunar</b></div>
</div>

<div class="det1">
<p><b>Akash Sunar</b>is one of the adventorous guide in Nepal.Man without a sound career planing is like a ship without the radar. 
    It drifts and ultimately sinks down in the deep ocean. But unlike my father, who is a doctor, I myself feel a little interest in this
     profession. Though it is the best profession but one’s interest and aptitude differs. I myself wants to be a Civil servant to serve 
     my people in my best capacity.<br>
<b>Age:</b>22<br>
<b>Phone:</b>9821574342<br>
<b>email:</b>sunarakash09@gmail.com<br></p>
</div>
<div class="guide3">
<img src="{% static 'images/guide/guide3.JPG' %}" width="300px" height="300px">
<div class="desc"><b>Govinda Pandey</b></div>
</div>
<div class="det3">
<p><b>Govinda Pandey</b> is one of the adventorous guide in Nepal.Man without a sound career planing is like a ship without the radar.
     It drifts and ultimately sinks down in the deep ocean. But unlike my father, who is a doctor, I myself feel a little interest in 
     this profession. Though it is the best profession but one’s interest and aptitude differs. I myself wants to be a Civil servant to 
     serve my people in my best capacity.<br>
<b>Age:</b>22<br>
<b>Phone:</b>9846863449<br>
<b>email:</b>govindapandey223@gmail.com<br></p>



</div>
<div class="guide2">
<img src="{% static 'images/guide/guide2.jpg' %}" width="300px" height="300px">
<div class="desc"><b>Nawaraj Poudel</b></div>
</div>
<div class="det2">
<p><b>Nawaraj poudel</b> is one of the adventorous guide in Nepal.Man without a sound career planing is like a 
    ship without the radar. It drifts and ultimately sinks down in the deep ocean. But unlike my father, who is a doctor, I 
    myself feel a little interest in this profession. Though it is the best profession but one’s interest and aptitude differs. 
    I myself wants to be a Civil servant to serve my people in my best capacity.<br>
<b>Age:</b>22<br>
<b>Phone:</b>9821574342<br>
<b>email:</b>poudelnawaraj07@gmail.com<br></p>



</div>
<body>
<footer>
    <p>Copyright &copy;2022 Team-8848</p>
</footer>



</body>
</html>