{%load static %}
<!DOCTYPE html>
<html>
<head>
<title>trek monitoring system</title>



<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<header>
<h1>
Trek monitoring system
</h1>
<img src="{% static 'images/home/image1.jpg' %}">
</header>



<body>

<nav>
<a href="{{link1}}">Home</a>
<a href="{{link2}}">Treks</a>
<a href="{{link3}}">Guide</a>
<a href="{{link4}}">Current records</a>
<a href="{{link5}}">Contact us</a>
</nav>
<section>
<div class="row">
<div class="column side">
    <p>Nepal trekking acknowledges an adventure journey by foot in the highest mountain and deepest valley for few days, two weeks, three weeks 
    or longer. Nepal shares hiking dreamland on earth that wins and solaces the heart of trekkers by the beauty of the Himalaya and Tibetan 
    culture.Trekking in Nepal is not wilderness walking, trekkers encounter picturesque villages, fascinating Sherpa, Langtange, Narwas, Dolpowas, 
    Lhomis, Yolmowas, and Mugalis people, exquisite temples, chortens, mani walls, monasteries, sacred lakes, wildlife, river valley and hot springs.
     The Himalayan Region bears an isolated, untouched, formation of nature, including eight of ten highest summits in the world that is only 
     accessible by walking.
    </p>
</div>
<div class="column side">
    <p>
    Proper clothes, shoes, sunglass, medicine, rescue insurance, money, and a professional guide or a porter is essential. The highlights of 
    photographs are the snow-clad peaks, suspension bridge, seasonal flower, vegetation, wildlife, river valley, waterfall, and thatched-roof 
    villages.Interaction of the rural people is available in a subject of culture, tradition, weddings, festivals, funerals, school, health post,
    food habit, crop condition, and communication. Hiking is the healthy activity that is beneficial to your health. Do not disturb nature and 
    culture, but contribute to an eco-tourism or alternative tourism. Climb high sleep low to avoid high altitude sickness, be safe from a beast,
    landslide, and falling rock on the trails. Be a responsible traveler, Mountain people expect to gain a bit of income from you.
    </p>
</div>
<div class="column side">
    <p>
    Nepal is rich in nature beauties, gifts, resources and wonders. There are many places and things of cultural, historical and religious importance.
    Mt.Everest, which is the highest peak in the world lies in Nepal. The snow-capped mountain peaks, beautiful water resources, the green forests, 
    flora and fauna attract many tourists every year. Tourists from foreign countries come here in Nepal with several purposes, some of them visit 
    for trekking and climbing mountains. Likewise some of them want to learn something about our culture, religion and the society. Nepal can be the
    best destination for trekking because of the mountains ranging from east to the west. The trekking in Nepal has a wonderful and very good future.
    </p>
</div>
</div>
</div>
</section>
<footer>
    <p>Copyright &copy;2022 Team-8848</p>
</footer>



</body>
</html>
