{%load static%}
<!DOCTYPE html>
<html>
<head>
<title>Tilicho</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<header>
<h1>
Trek monitoring system
</h1>
</header>
</body>



<nav>
    <a href="{{link1}}">Home</a>
    <a href="{{link2}}">Treks</a>
    <a href="{{link3}}">Guide</a>
    <a href="{{link4}}">Current records</a>
    <a href="{{link5}}">Contact us</a>
</nav>
<div class="timage">
<img src="{% static 'images/trek/tilicho.jpg' %}" width="400px" height="400px">

</div>
<div class="thead"><p><h2>TRIP OVERVIEW</h2>
Tilicho lake trek is known as the world’s highest altitude lake located in the Manang District of Nepal. It is in the Annapurna range at an altitude of 4919m. Among the different trek to Annapurna regions, It is also famous for its religious point of view. Not only Hindus but also Buddhists consider it as a place of religious importance. Tilicho lake trek is made your experiences for years to come. Take on the challenge of this challenging trek, and the rewards will be immeasurable and a true lifetime experience. Tilicho lake trek is one of the best destinations for nature and adventure lovers.



Tilicho lake trek starts from Kathmandu and follows the famous Annapurna trail. We will drive to Chame and start hiking to the Manang village a Himalayan Shangrila. After rest and get fit for the high altitude elevation we will trek to Tilicho base camp. The trail is quite narrow and a little hard after leaving Manang village. On arrival at the base camp, you can go to see Tilicho lake and spend your quality time there. We will make a return trek via the famous Throng la pass or if you have a short time you can trek down the same way till Chame and drive back to Kathmandu or Pokhara.</p></div>
<div class="tilicho"><p>
<h2>When to trek?</h2>
Mid Sept-October – November is Autumn Season: this is Nepal´s peak and best time to go trekking. March – May is the second best season of year to go trekking. December – January -February: the skies are clear but it can get very cold and there is a risk of passes being closed due to snow fall.



May - June: This is Nepal´s hot pre-monsoon season and it can get very warm indeed. The valleys however are starting to bloom with flowers though green leaves come up, still a good time to trek.



June - Mid September: this is Monsoon season and the least popular time to go trekking in Nepal. The risk of leeches, downpours increases greatly. Due to the early forested areas leeches at this time of year in Mardi Himal are quite active! Wear long trekking trousers tucked in at this time of year. And leech/mosquito repellent spray is recommended to carry with.



<h2>Getting there and away</h2>
Like most of the Annapurna treks except Annapurna Circuit, Mardi Himal Trek also starts and ends in Pokhara - second biggest city and naturally blessed place to relax after the big hikes in Annapurna. It is 200km to west from Kathmandu. All domestic airlines run several flights daily from Kathmandu which cost USD 110 - 125.00 per person. And about 7-8 hours drive by tourist bus (Cost USD 10 - 25). Local buses leave every one hour from Kathmandu till 3pm. Green Line Buses (USD 25.00 per person) and other tourist buses lives every morning at 7:00AM. A private car can be arranged if you ask. Wilderness Excursion can arrange and handles everything on your request.



<h2>Itinerary</h2>
Mardi Himal Trek Itinerary will be 5 to 7 days from/to Pokhara and 1 to 2 days transportation day from/to Kathmandu depending on time you have and level of your physical fitness. This trek can be combined with other related treks to Annapurna; many people combine this trek with Ghandruk trek, Panchase Trek, Ghorepani Poon Hill Trek etc. Our carefully designed 8 days itinerary is standard that suits to all average trekkers. Taking domestic flights to Pokhara from Kathmandu and start the trek on same day shortens the trip as flights save your time. We also offer tailor-made Mardi Himal Trek so please send us your detail and requirements.



<h2>How fit I should be?</h2>
This trek doesn´t require super fitness but however moderate level of fitness is necessary though there is no direct climbing involved. You will need to trek over some rocky section near high camp and base camp. Guide in Himalaya (Wilderness Excursion - our corporate sister agency) advises our clients going trekking to see a doctor before they go for a check-up and to talk about dealing with altitude sickness. For pure trekking along the Mardi Himal trek in Nepal you´ll need to consider the amount of days you´ll be out trekking to get an idea of how fit you should be. Most days include 4-7 hours of slow hiking. If you plan to do the trek in 4-5 days (which you can),



<h2>How much does it cost?</h2>
Mardi Himal Trek cost depends on the mode of tour, accommodation and transportation. The price here we have offered is USD 379.00 per person inclusive is standard trek price on double occupancy basis. Single supplement charge USD 85.00 for solo clients. The price will be according to budget, standard and deluxe tour plan and group sizes. Taking flights to and from Pokhara saves your time and comfortable rather than taking tiring long bus ride though riding bus reduces the trip cost. Accommodation in Kathmandu will be extra or we leave you a choice to book on your own. We can arrange your transfers to and from Pokhara and accommodation in Pokhara if you ask us. And there will be neat and clean simple trekking lodge accommodation on twin sharing basis during the trek.



<h2>Threat and Risk</h2>
Participants should be aware trekking, mountaineering and travelling in a developing country are activities that involve a risk of personal injury or death. As a condition of booking you must accept these risks and be responsible for your own actions and involvement. Adventure travel requires an open and flexible attitude. You may experience extreme conditions, unpredictable weather and last minute changes to the itinerary beyond our control. The ability to work in team is an important aspect of all of our trips. However your Guide in Himalaya tries best to maximize your trip is great fun and lifetime experience. </p>



</div>
<div class="current1">

<h3>Current Climatic Situation of Tilicho Trek::</h3>

<div class="tab3">
<table>
    <tr>
        <th>Weather</th>
        <th> Description</th>
        <th>Tempreture</th>
        <th> Minimum Tempreture</th>
        <th>Maximum Tempreture</th>
        </tr>
        {%for climate_tilicho3 in climate_tilicho2%}
        <tr>
        <td> {{climate_tilicho3.weather}}</td>
        <td>{{climate_tilicho3.description}}</td>
        <td>{{climate_tilicho3.temp}}</td>
        <td>{{climate_tilicho3.temp_min}}</td>
        <td>{{climate_tilicho3.temp_max}}</td>
        </tr>
        {%endfor%}



</table>



</div>

</div> <br> <br>

<body>
<footer>
    <p>Copyright &copy;2022 Team-8848</p>
</footer>



</body>
</html>